* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: #18171c;
  color: #fafafa;
  font-family: 'Raleway'
}

header {
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(120deg, rgba(6,139,164,1) 0%, rgba(166,0,255,1) 100%);
  color: white;
}

header > h1 {
  font-weight: 700;
  font-size: 70px;
}

main {
  padding: 1rem 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.movie {
  border-radius: 10px;
  width: 100%;
}
